
@use "./utils/normolize";
@use "./utils/fonts";
@use "./utils/general";
@use "./utils/mixins";
@use "./utils/variables";

@use "./blocks/menu";
@use "./blocks/nav";
@use "./blocks/promo";
@use "./blocks/skill";
@use "./blocks/card";
@use "./blocks/technologies";
@use "./blocks/contact";
@use "./blocks/labs";
@use "./blocks/information";
@use "./blocks/feedback";

@use "./blocks/form";

:root {
  --gray: #E5E5E5;
  --light: #FFFFFF;
  --dark: #000000;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --font-large: 80px;
  --font-big: 48px;
  --font-normal: 21px;
  --font-small: 12px;
}
