/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

button {
  border: 0;
  color: inherit;
  background-color: inherit;
}
button:hover {
  cursor: pointer;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/roboto-v29-latin-700.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: local(""), url("../../fonts/roboto-v29-latin-900.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --gray: #E5E5E5;
  --light: #FFFFFF;
  --dark: #000000;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --font-large: 80px;
  --font-big: 48px;
  --font-normal: 21px;
  --font-small: 12px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  color: var(--dark);
  min-height: 100px;
  padding: 0px 25px;
  background-color: var(--gray);
  display: flex;
  gap: 25px;
  align-items: center;
  flex-grow: 1;
}

.menu__lang {
  font-size: 33px;
  font-weight: var(--font-bold);
}

.menu__author {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: var(--font-black);
}

.navigation {
  background: white;
  position: sticky;
  top: 0;
  background-color: var(--light);
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.navigation__item {
  font-size: 21px;
  color: var(--dark);
}

.promo {
  background-image: url("/img/promo-image.png");
  background-size: cover;
  min-height: calc(100vh - 150px);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.promo__title {
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  font-size: 80px;
}

.promo__description {
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  font-size: 48px;
  max-width: 50%;
}

.promo__contact {
  display: flex;
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  font-size: 48px;
  justify-content: center;
  background-color: var(--gray);
  color: var(--dark);
  padding: 18px 32px;
  border-radius: 18px;
}

.skill {
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 200px;
}

.skill__title {
  font-size: var(--font-large);
  padding: 25px 0;
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.skill__card {
  max-width: 350px;
  min-height: 350px;
  background-color: blue;
}

.skill__progress {
  padding: 100px 0px;
  font-size: var(--font-large);
  color: var(--gray);
}

.card {
  background-image: url("/img/t-pass.png");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
  color: rgba(0, 0, 0, 0);
}
.card:hover {
  color: var(--light);
  background: var(--dark);
  transition: color 2s;
}

.card__title {
  font-size: 48px;
}

.card__desctiption {
  font-weight: 21px;
}

.card__percent {
  font-size: var(--font-big);
}

.technologies {
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.technologies__title {
  font-size: var(--font-large);
  padding: 25px 0;
}

.technologies__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}

.technologies__item {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: var(--font-normal);
}

.contact {
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.contact__title {
  font-size: var(--font-large);
  padding: 25px 0;
}

.contact__list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.contact__item {
  font-size: var(--font-big);
}

.contact__item--preferred {
  border-bottom: 5px solid var(--dark);
}

.labs {
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 200px;
}

.labs__title {
  font-size: var(--font-large);
  padding: 25px 0;
}

.labs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.labs__card {
  max-width: 350px;
  min-height: 350px;
  background-color: blue;
}

.labs__progress {
  padding: 100px 0px;
  font-size: var(--font-large);
  color: var(--gray);
}

.information {
  min-height: 50px;
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  background: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.information__list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.infromation__item {
  font-size: var(--font-normal);
}

.feedback {
  max-width: 1140px;
  width: auto;
  margin: 0 auto;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__title {
  font-size: var(--font-large);
  padding: 25px 0;
}

.form {
  padding: 40px 0px;
  background-color: var(--gray);
}

.form__label {
  font-size: 15px;
  line-height: 36px;
  padding-left: 10px;
  padding-right: 28px;
}

.form__input {
  padding: 11px;
  font-size: 15px;
  line-height: 16px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
}
.form__input:focus {
  outline-color: #ccd0d5;
}

.form__btn {
  font-size: var(--font-normal);
  justify-content: center;
  background-color: var(--light);
  color: var(--dark);
  padding: 18px 32px;
  border-radius: 18px;
  margin-left: 20px;
}

:root {
  --gray: #E5E5E5;
  --light: #FFFFFF;
  --dark: #000000;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --font-large: 80px;
  --font-big: 48px;
  --font-normal: 21px;
  --font-small: 12px;
}

/*# sourceMappingURL=style.css.map */
