:root {
  --gray: #E5E5E5;
  --light: #FFFFFF;
  --dark: #000000;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --font-large: 80px;
  --font-big: 48px;
  --font-normal: 21px;
  --font-small: 12px;
}
