@use "../utils/mixins";
@use "../utils/variables";

.card {
    background-image: url("/img/t-pass.png");
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0;
    color: rgba(0, 0, 0, 0);
    &:hover {
        color: var(--light);
        background:  var(--dark);
        transition: color 2s;
    }
}

.card__title {
    font-size: 48px;
}

.card__desctiption {
    font-weight: 21px;
}

.card__percent {
    font-size: var(--font-big);
}
