@use "../utils/mixins";
@use "../utils/variables";

.contact {
    @include mixins.wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
.contact__title {
    font-size: var(--font-large);
    padding: 25px 0;
}

.contact__list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.contact__item {
    font-size: var(--font-big);
}
.contact__item--preferred {
    border-bottom: 5px solid var(--dark);
}
