@use "../utils/mixins";
@use "../utils/variables";

.feedback {
    @include mixins.wrapper;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__title {
    font-size: var(--font-large);
    padding: 25px 0;
}
.feedback__form {
}
