@use "../utils/mixins";
@use "../utils/variables";

.form {
    padding: 40px 0px;
    background-color:var(--gray);
}
.form__label {
    font-size: 15px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 28px;
}

.form__input {
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    &:focus {
        outline-color:#ccd0d5;
    }
}

.form__btn {
    font-size: var(--font-normal);
    justify-content: center;
    background-color: var(--light);
    color: var(--dark);
    padding: 18px 32px;
    border-radius: 18px;
    margin-left: 20px;
}
