@use "../utils/mixins";
@use "../utils/variables";

.information {
    min-height: 50px;
    @include mixins.wrapper;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.information__list {
    list-style: none;
    display: flex;
    gap: 25px;
}
.infromation__item {
    font-size: var(--font-normal);
}
