@use "../utils/mixins";
@use "../utils/variables";

.labs {
    @include mixins.wrapper;
    text-align: center;
    margin-bottom: 200px;
}

.labs__title {
    font-size: var(--font-large);
    padding: 25px 0;
}

.labs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.labs__card {
    max-width: 350px;
    min-height: 350px;
    background-color: blue;
}

.labs__progress {
    padding: 100px  0px;
    font-size: var(--font-large);
    color: var(--gray);
}
