@use "../utils/mixins";
@use "../utils/variables";

.menu {
    color: var(--dark);
    min-height: 100px;
    padding: 0px 25px;
    background-color: var(--gray);
    display: flex;
    gap: 25px;
    align-items: center;
    flex-grow: 1;
}
.menu__lang {
    font-size: 33px;
    font-weight: var(--font-bold);
}

.menu__author {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: var(--font-black);
}

