@use "../utils/mixins";
@use "../utils/variables";

.navigation {
    background: white;
    position: sticky;
    top: 0;
    background-color: var(--light);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.navigation__item {
    font-size: 21px;
    color: var(--dark);
}

