@use "../utils/mixins";
@use "../utils/variables";

.promo {
    background-image: url("/img/promo-image.png");
    background-size: cover;
    min-height: calc(100vh - 150px);
    color:  var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.promo__title {
    @include mixins.wrapper;
    font-size: 80px;
}
.promo__description {
    @include mixins.wrapper;
    font-size: 48px;
    max-width: 50%;
}
.promo__contact {
    display: flex;
    @include mixins.wrapper;
    font-size: 48px;
    justify-content: center;
    background-color: var(--gray);
    color: var(--dark);
    padding: 18px 32px;
    border-radius: 18px;

}
