@use "../utils/mixins";
@use "../utils/variables";

.technologies {
    @include mixins.wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
.technologies__title {
    font-size: var(--font-large);
    padding: 25px 0;
}
.technologies__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}
.technologies__item {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: var(--font-normal);
}
